.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.egg-info
.mypy_cache
.pytest_cache
.idea
.vscode
.DS_Store
*.ipynb
*.ipynb_checkpoints
zkllm/build
zkllm/*.o
zkllm/ppgen
zkllm/commit-param
zkllm/rmsnorm
zkllm/self-attn
zkllm/ffn
zkllm/skip-connection
data
.env
README.md
docker-compose.yml
